In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train_df = pd.read_excel("/content/Data_Train.xlsx")

In [ ]:
test_df = pd.read_excel("/content/Test_set.xlsx")

In [ ]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
df = pd.concat([train_df, test_df])

In [ ]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

### feature Engineering

In [ ]:
# df['day'] = df['Date_of_Journey'].str.split('/').str[0]
# df['month'] = df['Date_of_Journey'].str.split('/').str[1]
# df['year'] = df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
# df['day'] = df['Date_of_Journey'].apply(lambda x: x.split('/')[0])
# df['month'] = df['Date_of_Journey'].apply(lambda x: x.split('/')[1])
# df['year'] = df['Date_of_Journey'].apply(lambda x: x.split('/')[2])

In [ ]:
df[['Day', 'Month', 'Year']] = df['Date_of_Journey'].str.split('/', expand=True)

In [ ]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [ ]:
df.Month = df.Month.str.replace('0', '')

In [ ]:
df.Day = df.Day.str.replace('0', '')

In [ ]:
df['Day'] = df['Day'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Day              13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [ ]:
df.drop('Date_of_Journey', axis=1, inplace=True)

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [ ]:
df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0,24,6,2019
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270.0,1,3,2019
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625.0,27,5,2019

In [ ]:
df['Arrival_Time'] = df.Arrival_Time.str.split().str[0]

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019

In [ ]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Day                   0
Month                 0
Year                  0
dtype: int64

In [ ]:
df['Arrival_hour'] = df['Arrival_Time'].apply(lambda x: x.split(':')[0])
df['Arrival_minute'] = df['Arrival_Time'].apply(lambda x: x.split(':')[1])

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [ ]:
df.drop('Arrival_Time', axis=1, inplace=True)

In [ ]:
df['Arrival_hour'] = df['Arrival_hour'].astype(int)
df['Arrival_minute'] = df['Arrival_minute'].astype(int)

In [ ]:
df['Dep_hour'] = df.apply(lambda x: x['Dep_Time'].split(':')[0], axis=1)
df['Dep_minute'] = df.apply(lambda x: x['Dep_Time'].split(':')[1], axis=1)

In [ ]:
df['Dep_hour'] = df['Dep_hour'].astype(int)
df['Dep_minute'] = df['Dep_minute'].astype(int)

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [ ]:
df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Day                  int64
Month                int64
Year                 int64
Arrival_hour         int64
Arrival_minute       int64
Dep_hour             int64
Dep_minute           int64
dtype: object

In [ ]:
df.drop(columns='Dep_Time', inplace=True)

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [ ]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [ ]:
(df['Total_Stops'] == np.nan).sum()

0

In [ ]:
def cnv(el):
  lst = el.split()
  if len(lst) > 1:
    return int(lst[0])*60+int(lst[1])
  else:
    return int(lst[0])*60

In [ ]:
df['Duration'] = df['Duration'].str.replace(r"[hm]", "", regex=True).apply(cnv)

In [ ]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
# df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4, np.nan: 1})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  int64
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Day              13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_minute   13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_minute       13354 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 2.1+ MB

In [ ]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [ ]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [ ]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         10493
In-flight meal not included      2426
No check-in baggage included      396
1 Long layover                     20
Change airports                     8
Business class                      5
No Info                             3
1 Short layover                     1
Red-eye flight                      1
2 Long layover                      1
Name: count, dtype: int64

In [ ]:
df['Additional_Info'] = (
    df['Additional_Info']
    .str
    .replace('No Info', 'No info')
    .replace({'No info': 'In-flight meal not included'})

)

In [ ]:
df['Destination'].value_counts()

Destination
Cochin       5682
Banglore     3581
Delhi        1582
New Delhi    1170
Hyderabad     883
Kolkata       456
Name: count, dtype: int64

In [ ]:
df['Destination'] = df['Destination'].replace('New Delhi', 'Delhi')

In [ ]:
df.drop(columns='Route', inplace=True)

In [ ]:
df['Airline'].value_counts()

Airline
Jet Airways                          4746
IndiGo                               2564
Air India                            2192
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: count, dtype: int64

In [ ]:
df.drop(df[df['Airline']=='Trujet'].index[0], axis=0, inplace=True)

In [ ]:
df['Airline'].value_counts()

Airline
Jet Airways                          4746
IndiGo                               2564
Air India                            2192
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Name: count, dtype: int64

In [ ]:
df['Airline'].value_counts(normalize=True)*100

Airline
Jet Airways                          35.542575
IndiGo                               19.201678
Air India                            16.415787
Multiple carriers                    11.555456
SpiceJet                              7.683667
Vistara                               4.553284
Air Asia                              3.033026
GoAir                                 1.797349
Multiple carriers Premium economy     0.119823
Jet Airways Business                  0.059912
Vistara Premium economy               0.037445
Name: proportion, dtype: float64

In [ ]:
df['Airline'] = df['Airline'].replace({
    'Multiple carriers Premium economy': 'Multiple carriers',
    'Jet Airways Business': 'Jet Airways',
    'Vistara Premium economy': 'Vistara',
})

In [ ]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia'], dtype=object)

In [ ]:
df['Airline'].value_counts()

Airline
Jet Airways          4754
IndiGo               2564
Air India            2192
Multiple carriers    1559
SpiceJet             1026
Vistara               613
Air Asia              405
GoAir                 240
Name: count, dtype: int64

In [ ]:
def conv_airline(al):
  lst = ['Air Asia', 'GoAir']
  return 'others' if al in lst else al

In [ ]:
df['Airline'] = df['Airline'].apply(conv_airline)

In [ ]:
df['Airline'].value_counts()

Airline
Jet Airways          4754
IndiGo               2564
Air India            2192
Multiple carriers    1559
SpiceJet             1026
others                645
Vistara               613
Name: count, dtype: int64

In [ ]:
df['Destination'].value_counts()

Destination
Cochin       5682
Banglore     3581
Delhi        2752
Hyderabad     882
Kolkata       456
Name: count, dtype: int64

In [ ]:
df['Source'].value_counts()

Source
Delhi       5682
Kolkata     3581
Banglore    2752
Mumbai       882
Chennai      456
Name: count, dtype: int64

In [ ]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Day', 'Month', 'Year', 'Arrival_hour',
       'Arrival_minute', 'Dep_hour', 'Dep_minute'],
      dtype='object')

In [ ]:
df.fillna({'Total_Stops':'1 stop'}, inplace=True)

In [ ]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Day                   0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_hour              0
Dep_minute            0
dtype: int64

In [ ]:
train = df[~df['Price'].isnull()]
test = df[df['Price'].isnull()].drop(columns='Price')

In [ ]:
train_X = train.drop('Price', axis=1)
train_y = train['Price']

In [ ]:
train_X.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Day,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,Delhi,170,non-stop,In-flight meal not included,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,445,2 stops,In-flight meal not included,1,5,2019,13,15,5,50

In [ ]:
from sklearn.model_selection import train_test_split
X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(train_X, train_y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df.Additional_Info.unique()

array(['In-flight meal not included', 'No check-in baggage included',
       '1 Short layover', '1 Long layover', 'Change airports',
       'Business class', 'Red-eye flight', '2 Long layover'], dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
df.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [ ]:
add_info_ord = ['In-flight meal not included',
            'No check-in baggage included',
            'Red-eye flight',
            '1 Short layover',
            '1 Long layover',
            '2 Long layover',
            'Change airports',
            'Business class']
tot_stops_ord = ['non-stop', '1 stop', '2 stops', '3 stops', '4 stops']

In [ ]:
oe = OrdinalEncoder(
    categories=[add_info_ord, tot_stops_ord])

In [ ]:
ohe = OneHotEncoder(
    sparse_output=False,
    drop='first',
    handle_unknown='ignore'
)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Day', 'Month', 'Year', 'Arrival_hour',
       'Arrival_minute', 'Dep_hour', 'Dep_minute'],
      dtype='object')

In [ ]:
X_train_t.head(5)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Day,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
749,Jet Airways,Mumbai,Hyderabad,90,non-stop,In-flight meal not included,27,6,2019,11,50,10,20
6078,IndiGo,Kolkata,Banglore,150,non-stop,In-flight meal not included,9,6,2019,17,45,15,15
2373,Multiple carriers,Delhi,Cochin,630,1 stop,In-flight meal not included,27,5,2019,1,30,15,0
2442,others,Kolkata,Banglore,720,1 stop,In-flight meal not included,9,5,2019,10,40,22,40
5403,Multiple carriers,Delhi,Cochin,640,1 stop,In-flight meal not included,9,3,2019,12,55,2,15

In [ ]:
df.shape

(13353, 14)

In [ ]:
X_train_t.shape

(7477, 13)

In [ ]:
X_test_t.shape

(3205, 13)

In [ ]:
y_train_t.shape

(7477,)

In [ ]:
y_test_t.shape

(3205,)

In [ ]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Day', 'Month', 'Year', 'Arrival_hour',
       'Arrival_minute', 'Dep_hour', 'Dep_minute'],
      dtype='object')

In [ ]:
X_train_t.Airline

749           Jet Airways
6078               IndiGo
2373    Multiple carriers
2442               others
5403    Multiple carriers
              ...
5735          Jet Airways
5192          Jet Airways
5391          Jet Airways
860                IndiGo
7271          Jet Airways
Name: Airline, Length: 7477, dtype: object

In [ ]:
transformer = ColumnTransformer(
    transformers= [
        ('trf1', oe, ['Additional_Info', 'Total_Stops']),
        ('trf2', ohe, ['Airline', 'Source', 'Destination']),
        ('trf3', scaler, ['Duration', 'Day', 'Month', 'Year', 'Arrival_hour',
       'Arrival_minute', 'Dep_hour', 'Dep_minute'])

    ],
    remainder = 'passthrough'
)
X_transformed = transformer.fit_transform(X_train_t)

In [ ]:
pd.DataFrame(X_transformed)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.086785,1.588849,1.107207,0.0,-0.338051,1.527490,-0.427002,-0.231951
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-0.968878,-0.535203,1.107207,0.0,0.533688,1.225274,0.442373,-0.498725
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,-0.025616,1.588849,0.247630,0.0,-1.790949,0.318626,0.442373,-1.299048
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.151246,-0.535203,0.247630,0.0,-0.483341,0.923058,1.659498,0.835145
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,-0.005965,-0.535203,-1.471524,0.0,-0.192761,1.829706,-1.818001,-0.498725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7472,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-0.624980,0.172814,-1.471524,0.0,-0.192761,0.016410,-0.948627,-1.299048
7473,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.585789,-0.181195,0.247630,0.0,-0.628631,1.225274,-0.600877,0.568371
7474,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.084682,1.234841,1.107207,0.0,0.824268,-1.494669,1.833373,-1.032274
7475,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-0.939401,-1.243221,-1.471524,0.0,-1.500370,0.016410,-2.165751,0.835145
7476,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.086785,-1.479227,1.107207,0.0,-0.338051,1.527490,-0.427002,-0.231951

In [ ]:
X_test_transf = transformer.transform(X_test_t)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_transformed, y_train_t)

LinearRegression()

In [ ]:
y_pred = lr.predict(X_test_transf)

In [ ]:
y_test_t.isnull().sum()

0

In [ ]:
opdf = pd.DataFrame(y_pred, columns=['y_pred'])
pd.concat([opdf,pd.DataFrame(y_test_t)], axis=1)

            y_pred    Price
0     10971.302744   3897.0
1     13946.925527      NaN
2      9726.563625      NaN
3     12944.158114   6218.0
4     11306.839107      NaN
...            ...      ...
8197           NaN   5048.0
7918           NaN  14714.0
5859           NaN   8372.0
4487           NaN  13626.0
7878           NaN   7832.0

[5433 rows x 2 columns]

In [ ]:
y_pred

array([10971.30274375, 13946.92552723,  9726.56362492, ...,
        4323.17623247, 11037.65604264, 12437.49666617])

In [ ]:
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(y_test_t, y_pred)
print(f"rmse: {rmse}")

rmse: 2857.632500548515

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeRegressor

rf = DecisionTreeRegressor()
rf.fit(X_transformed, y_train_t)
y_pred_rf = rf.predict(X_test_transf)

In [ ]:
rmse = root_mean_squared_error(y_test_t, y_pred_rf)
print(f"rmse: {rmse}")

rmse: 2483.494345858819

In [ ]:
train_df['Price'].max()

79512

In [ ]:
y_test_t.max()

57209.0

In [ ]:
y_pred_rf.max()

62427.0