In [1]:
#factorial without using recursion
def fact(num):
  res = 1
  for i in range(1, num+1):
    res = res * i
  return res
fact(4)

24

In [ ]:
# factorial using recursion
fact = 1
def fact(num):
  if num==0 or num==1:
    return 1
  return num * fact(num-1)
fact(4)

24

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input('Enter the value of n: '))
sum = 0
fact = 1
for i in range(1, n+1):
  fact = fact * i
  sum = sum + (i/fact)
print(sum)

Enter the value of n: 2
2.0

### Nested Loops

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
# pattern
nrows = int(input('Enter no. of rows: '))
for i in range(1, nrows+1):
  for j in range(i):
    print('*', end='')
  print()

Enter no. of rows: 5
*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
for i in range(1, nrows+1):
  for j in range(1,i+1):
    print(j, end='')
  for k in range(i-1, 0, -1):
    print(k, end='')
  print()

1
121
12321
1234321
123454321

 Q) For nums `[1, 2, 3, 4]`, printing all possible pairs

In [ ]:
for i in range(1, 5):
  for j in range(1, 5):
    print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Q) The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
cur_pop = 10000
for i in range(10):
  print(f"{2024-i} {cur_pop}")
  cur_pop /= 1.1

2024 10000
2023 9090.90909090909
2022 8264.462809917353
2021 7513.148009015775
2020 6830.134553650703
2019 6209.213230591548
2018 5644.739300537771
2017 5131.5811823070635
2016 4665.07380209733
2015 4240.976183724845

### Strings

### problems on strings

In [4]:
# length of a string without using len function
s = input('Enter a string: ')
count = 0
for i in s:
  count = count + 1
print(count)

Enter a string: hello
5

In [5]:
# Extract username from a given email
email = input('Enter an email: ')
print(email.split('@')[0])

Enter an email: aayush@gmail.com
aayush

In [8]:
# count the frequency of a particular char in a given string
st, char = input('Enter a string and a char u want a count of sep by space(aayush, y)').split(', ')
hash_map = {}
for i in st:
  hash_map[i] = hash_map.get(i, 0) + 1
print(hash_map[char])

Enter a string and a char u want a count of sep by space(aayush, y)hello how are you, h
2

In [9]:
counter = 0
for i in st:
  if i == char:
    counter += 1
print(char, counter)

h 2

In [46]:
s = input('string')
c = input('char')

res = ''
for i in s:
  if i == c:
    continue
  res += i
print(res)

stringhello aayush you are yogurt
chary
hello aaush ou are ogurt

In [14]:
# palindrome string or not
s = input('string')

if s == s[::-1]:
  print('Palindrome')
else:
  print('Not a palindrome')

stringabba
Palindrome

In [16]:
str_ = 'aayush'
print(str_[:1:-1])

hsuy

In [37]:
ss = input('string')
anot = ''
for i in ss:
  anot = i + anot
print(anot)
if anot == ss:
  print('Palindrome')
else:
  print('Not a palindrome')

stringmalayalam
malayalam
Palindrome

In [39]:
lst_words = input('string')
counter = 0
for c in lst_words:
  if c == ' ':
    counter += 1
counter += 1
print(counter)

stringhello i am aayush
4

In [43]:
lst_words = input('string')
res = ''
lst = lst_words.split()
for i in range(len(lst)):
  for i, c in enumerate(lst[i]):
    if i == 0:
      res += c.upper()
    else:
      res += c
  res += ' '
print(res)

stringhello how are you
Hello How Are You

In [42]:
num = int(input('Integer: '))
print(type(num))
num = str(num)
print(type(str_num))

Integer: 35
<class 'int'>
<class 'str'>

In [45]:
num = int(input('number :'))
print(f"num: {type(num)}")
digits = '1234567890'
str_num = ''
while num > 0:
  d = num%10
  for i in digits:
    if int(i) == d:
      str_num = i + str_num
  num = num // 10
print(str_num)
print(type(str_num))

number :256
num: <class 'int'>
256
<class 'str'>