In [ ]:
class Vehicle():
  def __init__(self, cap):
    self.seat_cap = cap

  def calc_fare(self, seat_cap):
    return seat_cap * 100

class Bus(Vehicle):
  def __init__(self):
    self.seat_cap = self.seating_capacity()

  def seating_capacity(self, capacity=50):
    self.seat_cap = capacity

  def calc_fare(self):
    b_p = super().calc_fare(50)
    t_p = b_p + 0.1 * b_p
    return t_p

In [ ]:
b1 = Bus()
b1.seat_cap
b1.seating_capacity()
b1.seat_cap

50

In [ ]:
b = Bus()
b.calc_fare()

5500.0

In [57]:
class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

In [58]:
class Location:
  def __init__(self, loc, des):
    self.loc = loc
    self.des = des
  def reflect_destination(self):
    return f'<{self.des.x}, -{self.des.y}>'

In [60]:
class Location:
  def __init__(self, x1, y1, x2, y2):
    self.location = Point(x1, y1)
    self.destination = Point(x2, y2)
  def reflect_destination(self):
    return f'<{self.destination.x}, -{self.destination.y}>'

In [61]:
l1 = Location(2, 3, 3, 4)
l1.reflect_destination()

'<3, -4>'

In [ ]:
location = Point(2, 3)
destination = Point(3, 4)

In [ ]:
l1 = Location(location, destination)
l1.reflect_destination()

'<3, -4>'

In [1]:
from abc import ABC, abstractmethod

In [9]:
class Polygon(ABC):
  def __init__(self):
    a, b = input('Enter dimensions separated by space eg. (2 3): ').split(' ')
    self.__l = int(a)
    self.__b = int(b)

  def get_l(self):
    return self.__l

  def get_b(self):
    return self.__b

  @abstractmethod
  def do_nothing(self):
    pass

class Rectangle(Polygon):

  def get_area(self):
    return super().get_l() * super().get_b()

  def do_nothing(self):
    pass



class Triangle(Polygon):
  def get_area(self):
    return 0.5 * super().get_l() * super().get_b()

  def do_nothing(self):
    pass

In [64]:
class Polygon(ABC):

  @abstractmethod
  def get_data():
    pass

  @abstractmethod
  def area():
    pass

class Rectangle(Polygon):

  def get_data(self, l, b):
    self.l = l
    self.b = b

  def area(self):
    return self.l*self.b

class Triangle(Polygon):

  def get_data(self, l, b):
    self.l = l
    self.b = b

  def area(self):
    return 0.5*self.l*self.b

t = Triangle()
r = Rectangle()
t.get_data(20, 30)
r.get_data(20, 30)
print(r.area())
print(t.area())

600
300.0

In [10]:
r = Rectangle()

Enter dimensions separated by space (2 3): 20 30

In [11]:
r.get_l()

20

In [12]:
r.do_nothing()

In [13]:
r.get_area()

600

In [14]:
t = Triangle()
t.get_area()

Enter dimensions separated by space (2 3): 20 30

300.0

In [53]:
class Bill:
  def __init__(self, items, price):

    self.items = items
    self.price = price
    self.total_p = 0
    for price in self.price:
      self.total_p += price
    self.display()
  def display(self):

    print('Items\t\t\tPrice')
    for i in range(len(self.items)):
      print(f"{self.items[i]}\t\t\t{self.price[i]}")
    print("*"*50)
    print(f"Total\t\t\t{self.total_p}")

class cashPayment(Bill):

  def __init__(self, items, price, deno, value):
    self.deno = deno
    self.value = value
    super().__init__(items, price)

  def display(self):

    super().display()
    print(f"Payment Details")
    total_p_made = 0
    for i in range(len(self.deno)):
      curr_paym = self.deno[i]*self.value[i]
      total_p_made += curr_paym
      print(f"{self.deno[i]} * {self.value[i]} = {curr_paym}")
    print(f"Total Payment made:\t\t\t{total_p_made}")
    print(f"Returned amount:\t\t\t{total_p_made-self.total_p}")



class chequePayment(Bill):
  def __init__(self, items, price, ac, bank_name):
    self.acno = ac
    self.bank_name = bank_name
    super().__init__(items, price)
  def display(self):
    super().display()
    print('Check no', self.acno)
    print('Bank Name:', self.bank_name)

In [54]:
items = ['hard-disk', 'cpu', 'laptop', 'mobile', 'glasses']
prices = [1000, 2000, 4000, 6000, 7000]
deno = [500, 100, 1000, 2000]
value = [5, 10, 10, 5]
c1 = cashPayment(items, prices, deno, value)

Items			Price
hard-disk			1000
cpu			2000
laptop			4000
mobile			6000
glasses			7000
**************************************************
Total			20000
Payment Details
500 * 5 = 2500
100 * 10 = 1000
1000 * 10 = 10000
2000 * 5 = 10000
Total Payment made:			23500
Returned amount:			3500

In [56]:
c2 = chequePayment(items, prices, 1234345, 'SBL')

Items			Price
hard-disk			1000
cpu			2000
laptop			4000
mobile			6000
glasses			7000
**************************************************
Total			20000
Check no 1234345
Bank Name: SBL

In [ ]:
class Bill:
  def __init__(self, due):
    self.due = due

class Cheque:
  def __init__(self, due, ac):
    self.ac = ac
    super().__init__(due)

In [24]:
class FlexibleDict(dict):

  def __getitem__(self,k):
    try:
      k = int(k)
    except:
      k = k
    return super().__getitem__(k)

In [25]:
d = FlexibleDict({2: 'a', 3: 'bcd', 4: '3ft'})

In [26]:
int('2')

2

In [27]:
d['2']

'a'