### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
def cel_to_fah(cel):
  return (cel*9/5)+32

cel_to_fah(37)

98.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
n1, n2 = int(input('Enter one number')), int(input('Enter another number'))
temp = n1
n1=n2
n2 = temp
print(n1, n2)

Enter one number23
Enter another number45
45 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
import math
x1, y1 = map(lambda x: int(x), input('Enter a coordinate').split(', '))
x2, y2 = map(lambda x: int(x), input('Enter another coordinate').split(', '))
euc_dist = math.sqrt(((x2-x1)**2 + (y2-y1)**2))
print(euc_dist)

Enter a coordinate0, 0
Enter another coordinate0, 1
1.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
prin= int(input('Enter the principle: '))
rate= int(input('Enter the rate: '))
time= int(input('Enter the time: '))

def clac_si(p, r, t):
  return (p*t*r)/100

clac_si(prin, rate, time)

Enter the principle: 2000
Enter the rate: 5
Enter the time: 2

200.0

Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input('Enter total heads: '))
legs = int(input('Enter total legs: '))

def no_dc(heads, legs):
  ndog = (legs//2) - heads
  nchick = heads - ndog
  print(f'{ndog}-dogs and {nchick}-chickens')

while not (heads >=1 and ((legs%2 == 0) and (legs >= 2* heads) and (legs<=4*heads))):
  print('Invalid number of heads and legs')
  heads = int(input('Enter total heads: '))
  legs = int(input('Enter total legs: '))

no_dc(heads, legs)

Enter total heads: 4
Enter total legs: 2
Invalid number of heads and legs
Enter total heads: 4
Enter total legs: 12
2-dogs and 2-chickens

In [ ]:
1# soln2

def num_dogs_ch(heads, legs):
  if heads<0 or legs%2!=0 or legs<2*heads or legs>4*heads:
    print('Invalid number of heads or legs')
  else:
    ndogs = (legs//2) - heads
    nchicks = heads-ndogs
    print(f"There are {ndogs}-dogs and {nchicks}-chickens.")

heads = int(input('Enter the total number of heads: '))
legs = int(input('Enter the total number of legs: '))

num_dogs_ch(heads, legs)

Enter the total number of heads: 4
Enter the total number of legs: 12
There are 2-dogs and 2-chickens

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n = int(input('Enter a number: '))

def sum_squares_nnums(n):
  sum = 0
  i = 1
  if n<=0:
    return -1
  while i <=n:
    sum += i**2
    i += 1
  return sum

sum_squares_nnums(5)

Enter a number: 5

55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
n1, n2 = input('Enter the first two terms of an arithmetic series: ').strip().split(', ')
n = int(input('Enter the value of n for nth term: '))
n1, n2 = int(n1), int(n2)

print(f"The {n}th term of the series is {n1+((n-1)*(n2-n1))}")

Enter the first two terms of an arithmetic series:     23, 25
Enter the value of n for nth term: 3
The 3th term of the series is 27

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
num1, deno1 = input('Enter the value of numerator and denominator of the first fraction: ').split(', ')
num2, deno2 = input('Enter the value of numerator and denominator of the second fraction: ').split(', ')

num1, deno1 = int(num1), int(deno1)
num2, deno2 = int(num2), int(deno2)

def sum_fracs(n1, d1, n2, d2):
  dino = find_lcm(d1, d2)
  return (((n1*dino/d1) + n2*(dino/d2))/dino)

sum_fracs(num1, deno1, num2, deno2)

Enter the value of numerator and denominator of the first fraction: 5, 2
Enter the value of numerator and denominator of the second fraction: 2, 3

3.1666666666666665

In [ ]:
def find_lcm(num1, num2):
  n1, n2 = min(num1, num2), max(num1, num2)
  temp = n1
  while True:
    if n1%n2 == 0:
      return n1
    n1+=temp

find_lcm(12, 60)

60

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
th, tl, tb = input('Enter the dimensions of the milk tank: ').split(', ')
gh, gr = input('Enter the dimensions of the milk glass: ').split(', ')
pi = 22/7

th, tl, tb = int(th), int(tl), int(tb)
gh, gr = int(gh), int(gr)

print((th*tl*tb)/(pi * gr**2 * gh))

Enter the dimensions of the milk tank: 20, 20, 20
Enter the dimensions of the milk glass: 3, 1
848.4848484848485